.vehicle__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 0.8rem;
  &_header {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 131, 193);
    color: #fff;
    font-size: 2rem;
  }
  &_search {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_form {
    width: 100%;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0 1.2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 0 1rem;
  }
  &_list {
    cursor: pointer;
    height: 80%;
    overflow: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  &_wrapper {
    gap: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_viewport {
    height: 300px;
    width: 100%;
  }
  &_complete {
    border-radius: 1rem;
  }

  .mat-form-field {
    width: 100%;
    .mat-form-field-wrapper {
      padding: 0.8rem;
      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .item-brand {
    height: 20px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }
}